body {
  font-family: "DM Sans", sans-serif;
  color: white !important;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0px !important;
  font-size: 18px;
  overflow-y: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input,
select {
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  color: white !important;
  padding: 5px;
  border-radius: 4px;
  margin-top: 10px;
  max-width: 40vw;
}

input,
select:focus {
  outline: none !important;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ddd;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ddd;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd;
}

h1 {
  padding-top: 20px !important;
  margin-bottom: 0px !important;
  padding-bottom: 20px !important;
}

.header {
  text-align: center;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  width: 50%;
  height: 80vh;
  text-align: center;
  padding: 10px;
}

.column:first-child {
  border-right: 1px solid white;
}

select {
  box-sizing: border-box;
  width: 50%;
}
.button {
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 6px 18px !important;
  border: 1px solid white;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: calc(50vw - 20px);
  border: 1px solid #dddddd;
}
#result1 {
  max-height: 60vh;
  overflow: auto;
}

td,
th {
  text-align: left;
  padding: 8px;
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
  color: black;
}

/* List element */
li {
  counter-increment: index;
  display: flex;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}

/* Element counter */
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Element separation */
li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#result2 {
  margin-top: 20px;
  max-height: 40vh;
  overflow-y: auto;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px F2F2F2;
  border-radius: 0px;
  margin-block: 15px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}

::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}
